@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --blue-color: #11296b;
  --inter: "Inter", sans-serif;
}
.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--inter);
}
